
body {
    margin: 0;
    background-color: darkgrey;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}


li {
    /*border-right: 3px solid white;*/
    float: left;
}


li a {
    display: block;
    color: darkgrey;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}


li a:hover:not(.active) {
    background-color: darkgreen;
    color: white;
}


.active {
    margin: 0;
    background-color: green;
    color: white;
}



